<div class="elfjs-home">
    <div class="elfjs-container">
        <menu name="home"></menu>
    </div>
    <div class="elfjs-container">
        <div class="elfjs-inside">
            <h1 class="elfjs-slogan">{{ "home.slogan" | i18n }}</h1>
            <div class="elfjs-center">
                <a class="elfjs-button-filled elfjs-fts-2" target="_blank" href="/demo.html">{{ "home.starts" | i18n }}</a>
                <a class="elfjs-button-hollow elfjs-fts-2" target="_blank" href="https://github.com/kind-n/elfjs">{{ "home.github" | i18n }}</a>
            </div>
        </div>
    </div>
</div>