
<div class="global-missed horizontal-center text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 300" preserveAspectRatio="xMidYMid">
        <g>
            <path d="M 56 199 L 144 22 H 195 L 107 198 H 161 V 150 H 206 V 198 H 221 V 86 A 79 79 0 0 1 377 86 V 166 L 448 22 H 499 L 411 198 H 465 V 150 H 510 V 198 H 534 M 56 243 H 161 V 279 H 206 V 243 H 231 A 79 79 0 0 0 367 243 H 465 V 279 H 510 V 243 H 534" stroke-width="3" stroke="#508ba3" fill="transparent" />
            <g>
                <path d="M 378 232 V 219 A 10 10 0 0 1 398 219 V 232 L 395 228 L 392 232 L 388 228 L 385 232 L 382 228 Z" stroke-width="0" fill="#279af6" />
                <circle cx="384" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="392" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="383" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="383;385;383" dur="2s" repeatCount="indefinite" />
                </circle>
                <circle cx="391" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="391;393;391" dur="2s" repeatCount="indefinite" />
                </circle>
            </g>
            <g>
                <path d="M 413 232 V 219 A 10 10 0 0 1 433 219 V 232 L 430 228 L 427 232 L 423 228 L 420 232 L 417 228 Z" stroke-width="0" fill="#1fa5af" />
                <circle cx="419" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="427" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="418" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="418;420;418" dur="5s" repeatCount="indefinite" />
                </circle>
                <circle cx="426" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="426;428;426" dur="5s" repeatCount="indefinite" />
                </circle>
            </g>
            <g>
                <path d="M 448 232 V 219 A 10 10 0 0 1 468 219 V 232 L 465 228 L 462 232 L 458 228 L 455 232 L 452 228 Z" stroke-width="0" fill="#af4d8b" />
                <circle cx="454" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="462" cy="218" r="2.5" stroke-width="0" fill="#ffffff" />
                <circle cx="453" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="453;455;453" dur="3s" repeatCount="indefinite" />
                </circle>
                <circle cx="461" cy="218" r="1.5" stroke-width="0" fill="#000000" >
                    <animate attributeName="cx" values="461;463;461" dur="3s" repeatCount="indefinite" />
                </circle>
            </g>
        </g>
        <g>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 356 220.5 H 324 V 156.5 H 292" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 340 220.5 H 324 V 156.5 H 292 M 356 220.5 H 340" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 324 220.5 V 156.5 H 292 M 356 220.5 H 324" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 324 204.5 V 156.5 H 292 M 356 220.5 H 324 V 204.5" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 324 188.5 V 156.5 H 292 M 356 220.5 H 324 V 188.5" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 324 172.5 V 156.5 H 292 M 356 220.5 H 324 V 172.5" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 324 156.5 H 292 M 356 220.5 H 324 V 156.5" />
            </circle>
            <circle r="5" stroke-width="0" fill="#d2ca83">
                <animateMotion dur="6s" begin="0s" repeatCount="indefinite" path="M 308 156.5 H 292 M 356 220.5 H 324 V 156.5 H 308" />
            </circle>
        </g>
        <g>
            <path d="M 283 156.5 H 298 A 15 15 0 1 1 283 141.5 Z" stroke-width="0" fill="#f3a634">
                <animateTransform attributeName="transform" begin="0.15s" dur="0.75s" type="rotate" from="75 283 156.5" to="-15 283 156.5" repeatCount="indefinite"></animateTransform>
            </path>
            <path d="M 283 156.5 H 298 A 15 15 0 1 0 283 171.5 Z" stroke-width="0" fill="#f3a634">
                <animateTransform attributeName="transform" begin="0.15s" dur="0.75s" type="rotate" from="-75 283 156.5" to="15 283 156.5" repeatCount="indefinite"></animateTransform>
            </path>
            <circle cx="278" cy="149" r="2" stroke-width="0" fill="#000000" />
        </g>
    </svg>
</div>