<div class="elfjs-foot">
    <div class="elfjs-container">
        <div class="elfjs-foot-report">
            <a class="elfjs-foot-hyperlink" href="javascript:void(0);">{{ "foot.join" | i18n }}</a>
            <a class="elfjs-foot-hyperlink" href="https://github.com/kind-n/elfjs/issues">{{ "foot.report" | i18n }}</a>
        </div>
        <div class="elfjs-foot-license">
            {{ "foot.license" | i18n }}
        </div>
        <div class="elfjs-foot-copyright">
            {{ "foot.copyright" | i18n }}&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">{{ "foot.legitimate" | i18n }}</a>
        </div>
    </div>
</div>