@charset "UTF-8";

.elfjs-container {
    margin: 0 auto;
    padding: 0 2.5%;
}
.elfjs-inside {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 950px;
}

.elfjs-slogan {
    font-size: .9rem;
    padding: 18vh 0 10vh;
    text-align: center;
}

.elfjs-center {
    text-align: center;
}

.elfjs-button-filled,
.elfjs-button-hollow {
    width: 5.5rem;
    margin: .3em 0;
    padding: 1.05em 0;
    border-radius: 1.85em;
    display: inline-block;
    vertical-align: middle;
}

.elfjs-button-filled {
    color: #ffffff;
    background-color: #dd356e;
    border: 2px solid #dd356e;
}

.elfjs-button-hollow {
    color: #dd356e;
    border: 2px solid #dd356e;
}


.elfjs-clr-1 {
    color: #000000;
}
.elfjs-clr-2 {
    color: #666666;
}
.elfjs-clr-3 {
    color: #dd356e;
}
.elfjs-fts-1 {
    font-size: 16px;
}
.elfjs-fts-2 {
    font-size: 18px;
}
.elfjs-fts-3 {
    font-size: 38px;
}
.elfjs-animate {
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
}




.elfjs-nav {
    margin: 0 auto;
    white-space: nowrap;
}

.elfjs-end {
    width: auto;
}

.elfjs-logo {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}

.elfjs-menu {
    width: 0;
    padding: 1em 0;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-weight: 400;
}

.elfjs-menu-input {
    font-size: 2em;
    margin-left: -2em;
    position: relative;
    z-index: 99;
}

.elfjs-menu-label {
    width: 2em;
    height: 2px;
    margin-left: -2em;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #000000;
    z-index: 98;
}

.elfjs-menu-label::before {
    height: 2px;
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    top: calc(1em / -1.44);
    right: 0;
    left: 0;

    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.elfjs-menu-label::after {
    height: 2px;
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    bottom: calc(1em / -1.44);
    right: 0;
    left: 0;

    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.elfjs-menu-shade {
    opacity: .7;
    display: none;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.elfjs-menu-panel {
    width: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 4em;
    background-color: #ffffff;
    position: absolute;
    z-index: 97;
    bottom: 0;
    right: 0;
    top: 0;
}

.elfjs-menu-panel .active,
.elfjs-menu-panel .normal {
    text-align: left;
    position: relative;
    padding: 1em 2em;
    display: block;
}

.elfjs-menu-panel .active::after {
    height: 2px;
    content: "";
    display: block;
    background-color: #dd356e;
    position: absolute;
    bottom: calc(1em - .4em);
    right: calc(2em - 4px);
    left: calc(2em - 4px);
}

.elfjs-menu-input:checked ~ .elfjs-menu-label {
    background-color: transparent;
}

.elfjs-menu-input:checked ~ .elfjs-menu-label::before {
    -webkit-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
}

.elfjs-menu-input:checked ~ .elfjs-menu-label::after {
    -webkit-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
}

.elfjs-menu-input:checked ~ .elfjs-menu-shade {
    display: block;
}

.elfjs-menu-input:checked ~ .elfjs-menu-panel {
    width: 250px;
    opacity: 1;
}



@media (min-width: 500px) {
    .elfjs-slogan {
        font-size: .4rem;
    }
}
@media (min-width: 800px) {

    .elfjs-container {
        padding: 0 10%;
        max-width: 1500px;
    }


    .elfjs-button-filled,
    .elfjs-button-hollow {
        width: 170px;
        margin: .3em .6em;
    }


    .elfjs-nav {
        padding-top: 125px;
    }

    .elfjs-logo {
        width: 28%;
    }

    .elfjs-menu {
        width: 72%;
        padding: 0;
    }

    .elfjs-menu-input {
        display: none;
    }

    .elfjs-menu-label {
        display: none;
    }

    .elfjs-menu-shade {
        display: none;
    }

    .elfjs-menu-panel {
        width: auto;
        position: static;
        padding-top: 0;
        opacity: 1;
    }

    .elfjs-menu-panel .active,
    .elfjs-menu-panel .normal {
        position: relative;
        padding: 1.5em 2em;
        display: inline-block;
        vertical-align: middle;
    }

    .elfjs-menu-panel .active::after {
        bottom: calc(1.5em - .4em);
        right: calc(2em + 4px);
        left: calc(2em + 4px);
    }

    .elfjs-menu-input:checked ~ .elfjs-menu-shade {
        display: none;
    }

    .elfjs-menu-input:checked ~ .elfjs-menu-panel {
        width: auto;
    }
}
@media (min-width: 1024px) {
    .elfjs-slogan {
        font-size: .5rem;
    }
}










.elfjs-loading {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1rem #dd356e;
    top: calc(50vh - .5rem);
}

.elfjs-loading::before {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: -.01rem;
    top: -.01rem;
    border-radius: 1.02rem 0 0 1.02rem;

    -webkit-transform-origin: .52rem .51rem;
    -moz-transform-origin: .52rem .51rem;
    -ms-transform-origin: .52rem .51rem;
    transform-origin: .52rem .51rem;

    -webkit-animation: loading 2s infinite ease 1.5s;
    -moz-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.elfjs-loading::after {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: .51rem;
    top: -.01rem;
    border-radius: 0 1.02rem 1.02rem 0;

    -webkit-transform-origin: 0 .51rem;
    -moz-transform-origin: 0 .51rem;
    -ms-transform-origin: 0 .51rem;
    transform-origin: 0 .51rem;

    -webkit-animation: loading 2s infinite ease;
    -moz-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}