<footer class="global-footer">
    <div class="container">
        <div class="row xs">
            <div class="col-xs-12">
                <ul class="global-footer-menu">
                    <li>
                        <a target="_blank" href="mailto:master@elfjs.org">
                            {{ "foot.mailus" | i18n }}
                        </a>
                    </li>
                    <li>
                        <span class="separator"></span>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/kind-n/elfjs/issues">
                            {{ "foot.report" | i18n }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sm">
            <div class="col-xs-12">
                {{ "foot.license" | i18n }}
            </div>
        </div>
        <div class="row sm">
            <div class="col-xs-12">
                {{ "foot.copyright" | i18n }}
                &nbsp;
                <a href="http://www.miitbeian.gov.cn" target="_blank">
                    {{ "foot.legitimate" | i18n }}
                </a>
            </div>
        </div>
    </div>
</footer>