<div class="elfjs-home">
    <div class="elfjs-container">
        <menu name="home"></menu>
    </div>
    <div class="elfjs-container">
        <div class="elfjs-slogan">
            {{ "home.slogan" | i18n }}
        </div>
        <div class="elfjs-center">
            <a class="elfjs-button-filled" target="_blank" href="/demo.html">
                {{ "home.starts" | i18n }}
            </a>
            <a class="elfjs-button-hollow" target="_blank" href="https://github.com/kind-n/elfjs">
                {{ "home.github" | i18n }}
            </a>
        </div>
    </div>
    <div class="elfjs-container">
        <ul class="elfjs-resume">
            <li class="elfjs-resume-item">
                <h2 class="elfjs-clr-2">{{ "home.statement" | i18n }}</h2>
                <p>{{ "home.statement1" | i18n }}</p>
                <p>{{ "home.statement2" | i18n }}</p>
            </li>
            <li class="elfjs-resume-item">
                <h2 class="elfjs-clr-2">{{ "home.briefness" | i18n }}</h2>
                <p>{{ "home.briefness1" | i18n }}</p>
                <p>{{ "home.briefness2" | i18n }}</p>
            </li>
            <li class="elfjs-resume-item">
                <h2 class="elfjs-clr-2">{{ "home.efficient" | i18n }}</h2>
                <p>{{ "home.efficient1" | i18n }}</p>
                <p>{{ "home.efficient2" | i18n }}</p>
            </li>
        </ul>
    </div>
    <foot name="home"></foot>
</div>