<div class="container">
    <div class="home-slogan text-center">
        {{ "home.slogan" | i18n }}
    </div>
    <div class="home-button text-center">
        <a class="home-button-filled" target="_blank" href="/demo.html">
            {{ "home.starts" | i18n }}
        </a>
        <a class="home-button-hollow" target="_blank" href="https://github.com/kind-n/elfjs">
            {{ "home.github" | i18n }}
        </a>
    </div>
    <div class="home-depict">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="fg-clr-2">{{ "home.statement" | i18n }}</h2>
                <p>{{ "home.statement1" | i18n }}</p>
                <p>{{ "home.statement2" | i18n }}</p>
            </div>
            <div class="col-sm-4">
                <h2 class="fg-clr-2">{{ "home.briefness" | i18n }}</h2>
                <p>{{ "home.briefness1" | i18n }}</p>
                <p>{{ "home.briefness2" | i18n }}</p>
            </div>
            <div class="col-sm-4">
                <h2 class="fg-clr-2">{{ "home.efficient" | i18n }}</h2>
                <p>{{ "home.efficient1" | i18n }}</p>
                <p>{{ "home.efficient2" | i18n }}</p>
            </div>
        </div>
    </div>
</div>