<div class="container about">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="lg">
                <h2>关于</h2>
            </div>
            <p>Elf.js 是作者根据自己工作时的遇到的问题和开发体验而设计的。其目的是想缓解学习困难、编译耗时、不易调试等问题。其简洁工整的源码可以让开发者非常轻松的理解市面上框架的原理和思想。</p>
            <p>在写 Elf.js 时，Angular2 还处于 alpha 版本，Vue2 还没有发布，虽然当时 React 非常热门，但 JSX 并不适合自己（当时并没找到支持的字符串模板），因此起了自己写一个框架的念头。</p>
            <p>在经过长达半年的时间里，查阅各种资料，阅读各种框架源码，雏形终于完成。后来 Vue2 发布，其较小的体积和熟悉的模板都深得我心。觉得这就是我想要的框架，同时自己又进入了沉思，我到底还要不要完成它？</p>
            <p>最后自己还是坚持了下来，或许是因为喜欢研究的性格，或许觉得目前市面上的框架都有那么一点点不称心。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="lg">
                <h2>作者</h2>
            </div>
            <div class="clear">
                <div class="about-photo"></div>
                <div class="about-brief">
                    <h3>吴清</h3>
                    <p>一个80后草根程序员！现居成都。</p>
                    <p>做过各种端开发，目前在&nbsp;<a target="_blank" href="https://www.mullenloweprofero.com/">MullenLowe Profero</a>&nbsp;做前端开发。</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <p>姓名：吴清，英文名：Tiger Wu，上学时一直是这个名字，大家也都叫这个名字，奈何身份证上不是。</p>
            <p>10年开始入行。喜欢研究技术，但因为不喜欢写作，所以少于在网上分享。之前在博客园有些总结和转载，但最后也荒废了。</p>
            <p>经历了“城市-农村-城市”的生活，流浪过。内向不爱社交，缺少社交沟通经验。一直在慢慢改善和进步。</p>
            <p>在上家公司遇到亦师亦友的同事，把一个懵懵懂懂的我招进公司，到后来 C/S、B/S、前端、后端、数据库都有不少的涉猎，再到独立完成省级别项目、技术架构等，他都给予我极大的帮助。在此感谢！</p>
            <p>我不想做技术博客，因为网上已经有很多非常好的技术博客了，但我却想和大家探讨。学无止境，我想把我理解到的分享给大家，亦想认识更多的朋友，了解大家对技术的看法，或者工作、生活中的其它话题。如果我的程序能够帮助到大家，那真的是一件非常开心的事情。</p>
            <p>如果你在学习或使用这个框架中有什么问题，或者其它的技术问题也是可以的。可以扫面下面二维码，添加我的微信，我们一起探讨。</p>
        </div>
        <div class="col-xs-12 col-md-9 text-center">
            <div class="about-QR">
                <img alt="吴清 - 微信" src="/assets/images/QR.jpeg">
            </div>
        </div>
    </div>
</div>