@charset "UTF-8";

html {
    color: #000000;
    font-size: 12.5vw;
    height: 100%;
}
body {
    font-size: 16px;
    min-height: 100%;
    position: relative;
    background-color: #ffffff;
    font-family: "Inconsolata", sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body, form, h1, h2, h3, h4, h5, h6, dl, ol, ul, p {
    margin: 0;
    font-weight: normal;
}
textarea, button, select, input {
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}
pre {
    margin: 0;
}
img {
    border: 0;
}
svg {
    overflow: hidden;
}
h4, h5, h6 {
    font-size: 1em;
}
ol, ul {
    padding-left: 0;
    list-style-type: none;
}
dd {
    margin-left: 0;
}
a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
}

input:invalid,
input:required {
    box-shadow: 0 0 transparent;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
input[type="url"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
    border: 1px solid #666666;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"],
input[type="checkbox"] {
    width: 1em;
    height: 1em;
    cursor: pointer;
    opacity: 0;
}
select::-ms-expand {
    display: none;
}
textarea {
    border: 1px solid #666666;
    resize: none;
}

@media (min-width: 800px) {
    html {
        font-size: 100px;
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}