@charset "UTF-8";

.elfjs-code {
    line-height: 1.5em;
    padding-bottom: 30px;
    min-height: 450px;
}

.elfjs-code:empty::before {
    top: 50%;
    left: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -2.1rem;
    margin-left: -.8rem;
    border: 3px solid transparent;
    border-top-color: #ba55d3;
    border-radius: 50%;
    position: absolute;
    display: block;
    content: "";

    -webkit-animation: loading 2.5s linear infinite;
    -moz-animation: loading 2.5s linear infinite;
    animation: loading 2.5s linear infinite;
}

.elfjs-code:empty::after {
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -1.95rem;
    margin-left: -.65rem;
    border: 3px solid transparent;
    border-top-color: #dd356e;
    position: absolute;
    border-radius: 50%;
    display: block;
    content: "";

    -webkit-animation: loading 1.5s linear infinite;
    -moz-animation: loading 1.5s linear infinite;
    animation: loading 1.5s linear infinite;
}

.elfjs-code a {
    color: #dd356e;
}

.elfjs-code a:hover,
.elfjs-code a:active {
    color: #cc2f67;
    text-decoration: underline;
}

.elfjs-code p {
    margin: 1em 0 0 2em;
    overflow: hidden;
}

.elfjs-code li {
    padding: 1em 0 0 2em;
    box-sizing: border-box;
    overflow: hidden;
}

.elfjs-code li li {
    padding: .2em 0 0 2em;
}

.elfjs-code h1 {
    padding: 2em 0 .5em;
    font-size: 2.25em;
    font-weight: 700;
    overflow: hidden;
}
.elfjs-code h2 {
    padding: 1em 0 .2em;
    font-size: 1.75em;
    font-weight: 700;
    overflow: hidden;
}

.elfjs-code hr {
    border: 0;
    height: 1px;
    background-color: #bbbbbb;
    color: #bbbbbb;
}

.elfjs-code pre {
    padding: 1em;
    margin-top: .5em;
    background-color: #f1f1f1;
    overflow: hidden;
}

.elfjs-code code {
    margin: 0 .25em;
    padding: 0 .4em;
    color: #fd971f;
    background-color: #f9f9f2;
    border-radius: 4px;
}

.elfjs-code pre code {
    margin: 0;
    padding: 0;
    color: currentColor;
    background-color: transparent;
    border-radius: 0;
}

.elfjs-code blockquote {
    margin: 1.5em 0 .2em;
    padding: .8em 0 .8em calc(2em - 3px);
    border-left: 3px solid #dd356e;
    background-color: #f1f1f1;
    position: relative;
    color: #7b7b7b;
}

.elfjs-code blockquote::before {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    content: "☞";
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    border-radius: 50%;
    background-color: #dd356e;
    text-align: center;
    left: -12px;
    top: 12px;
}

.elfjs-code blockquote p {
    margin: 0;
}

.elfjs-code .keyword {
    color: #3854d4;
}
.elfjs-code .builtin {
    color: #b65611;
}
.elfjs-code .string,
.elfjs-code .string .after,
.elfjs-code .string .before {
    color: #479d64;
}
.elfjs-code .regexp,
.elfjs-code .regexp .after,
.elfjs-code .regexp .before {
    color: #d73737;
}
.elfjs-code .comment,
.elfjs-code .comment .after,
.elfjs-code .comment .before {
    font-style: italic;
    color: #989697;
}
.elfjs-code .hashkey {
    color: #fd971f;
}
.elfjs-code .paren {
    color: #dd356e;
}
.elfjs-code .defun {
    color: #368221;
}
.elfjs-code .comma {
    color: #989697;
}
.elfjs-code .operator {
    color: #dd356e;
}
.elfjs-code .hasharrow {
    color: #dd356e;
}
.elfjs-code .parameters {
    color: #fd971f;
}
.elfjs-code .error {
    color: #ffffff;
    background-color: #dd356e;
}


.elfjs-code .line-numbers {
  float: left;
  margin-left: -4.5em;
  width: 3em;
  text-align: right;
  color: #999;
  font: 0.9em tahoma,verdana,sans-serif;
  padding-top: 0.05em;
}
.elfjs-code .line-numbers:after { content: "." }

/* XML */

.elfjs-code .xml-tag-close .before { color: #52a; }

.elfjs-code .xml-entity { color: #b2a; }
.elfjs-code .xml-entity .before, .elfjs-code .xml-entity .after { color: #607; }

/* CSS */

.elfjs-code .css-class { color: #000; font-style: italic; }
.elfjs-code .css-pseudo-class { color: #777; }
.elfjs-code .css-id { font-weight: bold; }
.elfjs-code .css-color-spec { color: #a51; }
.elfjs-code .css-length { color: #a19; }
.elfjs-code .css-length .after { font-weight: bold; }
.elfjs-code .css-declaration-kw { font-weight: bold; }
.elfjs-code .css-comma { color: red; }


.elfjs-hash {
    font-size: 0;
    -webkit-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    transition: margin-top 1s;
}

.elfjs-hash a {
    display: block;
    border-left: 2px solid transparent;
    opacity: .9;
}

.elfjs-hash a:hover,
.elfjs-hash a:active {
    border-left-color: #dd356e;
    opacity: 1;
}

.elfjs-hash .elfjs-lyr-1 {
    text-indent: 0;
    color: #414141;
    padding: .6em 5px;
}

.elfjs-hash .elfjs-lyr-2 {
    text-indent: 1em;
    color: #767676;
    padding: .3em 5px;
}

.elfjs-hash .elfjs-lyr-3 {
    text-indent: 2em;
    color: #9a9a9a;
}

@media (min-width: 800px) {
    .elfjs-code {
        padding-right: 1.5em;
    }
    .elfjs-hash {
        padding: 3.5em 0 30px 10%;
        font-size: 14px;
    }    
}