@charset "UTF-8";

/* ================ */

.elfjs-clr-1 {
    color: #000000;
}
.elfjs-clr-2 {
    color: #666666;
}
.elfjs-clr-3 {
    color: #dd356e;
}
.elfjs-fts-1 {
    font-size: 16px;
}
.elfjs-fts-2 {
    font-size: 18px;
}
.elfjs-fts-3 {
    font-size: 38px;
}

.elfjs-pointer {
    cursor: pointer;
}

.elfjs-container {
    margin: 0 auto;
    padding: 0 2.5%;
    max-width: 1200px;
}

.elfjs-animation {
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   transition: all .5s;
}

.elfjs-section {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.elfjs-article {
    width: 0;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 800px) {
    .elfjs-section {
        width: 75%;
    }
    .elfjs-article {
        width: 25%;
    }
}

/* ================ */

.elfjs-loading {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1rem #dd356e;
    top: calc(50vh - .5rem);
}

.elfjs-loading::before {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: -.01rem;
    top: -.01rem;
    border-radius: 1.02rem 0 0 1.02rem;

    -webkit-transform-origin: .52rem .51rem;
    -moz-transform-origin: .52rem .51rem;
    -ms-transform-origin: .52rem .51rem;
    transform-origin: .52rem .51rem;

    -webkit-animation: loading 2s infinite ease 1.5s;
    -moz-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.elfjs-loading::after {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: .51rem;
    top: -.01rem;
    border-radius: 0 1.02rem 1.02rem 0;

    -webkit-transform-origin: 0 .51rem;
    -moz-transform-origin: 0 .51rem;
    -ms-transform-origin: 0 .51rem;
    transform-origin: 0 .51rem;

    -webkit-animation: loading 2s infinite ease;
    -moz-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

/* ================ */

.elfjs-nav {
    white-space: nowrap;
}

.elfjs-logo {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}

.elfjs-menu {
    width: 0;
    padding: 1em 0;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    user-select: none;
    font-weight: 400;
}


.elfjs-menu-input {
    font-size: 2em;
    margin-left: -2em;
    position: relative;
    z-index: 99;
}

.elfjs-menu-label {
    width: 2em;
    height: 2px;
    margin-left: -2em;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #000000;
    z-index: 98;
}

.elfjs-menu-label::before {
    height: 2px;
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    top: calc(1em / -1.44);
    right: 0;
    left: 0;

    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.elfjs-menu-label::after {
    height: 2px;
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    bottom: calc(1em / -1.44);
    right: 0;
    left: 0;

    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.elfjs-menu-shade {
    opacity: .7;
    display: none;
    background-color: #000000;
    position: absolute;
    z-index: 96;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.elfjs-menu-panel {
    width: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 4em;
    background-color: #ffffff;
    position: absolute;
    z-index: 97;
    bottom: 0;
    right: 0;
    top: 0;
}

.elfjs-menu-panel .elfjs-active,
.elfjs-menu-panel .elfjs-normal {
    text-align: left;
    position: relative;
    padding: 1em 2em;
    display: block;
}

.elfjs-menu-panel .elfjs-active::after {
    height: 2px;
    content: "";
    display: block;
    background-color: #dd356e;
    position: absolute;
    bottom: calc(1em - .4em);
    right: calc(2em - 4px);
    left: calc(2em - 4px);
}


.elfjs-menu-input:checked ~ .elfjs-menu-label {
    background-color: transparent;
}

.elfjs-menu-input:checked ~ .elfjs-menu-label::before {
    -webkit-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
}

.elfjs-menu-input:checked ~ .elfjs-menu-label::after {
    -webkit-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
}

.elfjs-menu-input:checked ~ .elfjs-menu-shade {
    display: block;
}

.elfjs-menu-input:checked ~ .elfjs-menu-panel {
    width: 250px;
    opacity: 1;
}

@media (min-width: 800px) {
    .elfjs-logo {
        width: 28%;
    }

    .elfjs-menu {
        width: 72%;
        padding: 0;
    }

    .elfjs-menu-input {
        display: none;
    }

    .elfjs-menu-label {
        display: none;
    }

    .elfjs-menu-shade {
        display: none;
    }

    .elfjs-menu-panel {
        width: auto;
        position: static;
        padding-top: 0;
        opacity: 1;
    }

    .elfjs-menu-panel .elfjs-active,
    .elfjs-menu-panel .elfjs-normal {
        position: relative;
        padding: 1.5em 1em;
        display: inline-block;
        vertical-align: middle;
    }

    .elfjs-menu-panel .elfjs-active::after {
        bottom: calc(1.5em - .4em);
        right: calc(1em + 4px);
        left: calc(1em + 4px);
    }

    .elfjs-menu-input:checked ~ .elfjs-menu-shade {
        display: none;
    }

    .elfjs-menu-input:checked ~ .elfjs-menu-panel {
        width: auto;
    }

    .elfjs-home .elfjs-nav {
        padding-top: 120px;
    }
}

/* ================ */

.elfjs-foot {
    color: #ffffff;
    background-color: #36495d;
    box-sizing: border-box;
    min-height: 200px;
    font-size: 14px;
}

.elfjs-foot-report {
    font-size: 12px;
    padding: 50px 0 60px;
}

.elfjs-foot-license,
.elfjs-foot-copyright {
    color: #d2d2d2;
    padding: .25em 0;
}

.elfjs-foot-hyperlink:hover,
.elfjs-foot-hyperlink:active {
    text-decoration: underline;
}

.elfjs-foot-hyperlink ~ .elfjs-foot-hyperlink {
    margin-left: 1em;
}


/* ================ */

.elfjs-slogan {
    font-size: .9rem;
    padding: 18vh 8% 8vh;
    text-align: center;
}

.elfjs-center {
    text-align: center;
}

.elfjs-resume {
    padding: 45px 8% 80px;
    text-align: center;
}

.elfjs-resume-item {
    margin: 8% 5% 5%;
    text-align: left;
}

.elfjs-readme {
    min-height: calc(100vh - 272px);
    overflow: hidden;
}


.elfjs-button-filled {
    width: 5.5rem;
    margin: .3em 0;
    padding: 1.05em 0;
    border-radius: 1.85em;
    display: inline-block;
    vertical-align: middle;
    background-color: #dd356e;
    border: 2px solid #dd356e;
    color: #ffffff;
}

.elfjs-button-hollow {
    width: 5.5rem;
    margin: .3em 0;
    padding: 1.05em 0;
    border-radius: 1.85em;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #dd356e;
    color: #dd356e;
}

.elfjs-button-return {
    font-size: 14px;
    padding: 1.25em 3.5em;
    display: inline-block;
    position: relative;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, .1);
    color: #437a72;
}

.elfjs-button-return:hover,
.elfjs-button-return:active {
    background-color: rgba(255, 255, 255, .2);
    color: #519b6a;
}

.elfjs-button-return:before {
    top: 50%;
    left: 1.25em;
    width: .9em;
    height: .9em;
    margin-top: -.45em;
    box-sizing: border-box;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    position: absolute;
    display: block;
    content: "";

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.elfjs-button-return:after {
    top: 50%;
    left: 1.25em;
    width: 1.2em;
    height: 2px;
    margin-top: -1px;
    background-color: currentColor;
    position: absolute;
    display: block;
    content: "";
}

@media (min-width: 500px) {
    .elfjs-slogan {
        font-size: .48rem;
    }
}

@media (min-width: 800px) {
    .elfjs-resume-item {
        margin: 8% 25px 5%;
        width: calc(100% / 3 - 55px);
        display: inline-block;
        vertical-align: top;
    }

    .elfjs-button-filled,
    .elfjs-button-hollow {
        width: 170px;
        margin: .3em .6em;
    }
    .elfjs-button-return {
        font-size: 16px;
    }
}

.elfjs-404 {
    min-height: 100vh;
    background-color: #242f44;
}

.elfjs-404-container {
    width: 6rem;
    margin: 0 auto;
    padding-top: calc((100vh - 5.2rem) / 2);
}

.elfjs-404-status {
    padding: 1em;
    line-height: 1.2em;
    text-align: center;
    font-size: .38rem;
    color: #90d8c7;
}

.elfjs-404-center {
    height: 3rem;
}

.elfjs-404-return {
    font-size: 16px;
    padding: .5rem 0;
    text-align: center;
    color: #437a72;
}