@charset "UTF-8";

body {
    font-family: "Inconsolata", \5b8b\4f53, sans-serif;
}

ul, ol, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.fg-clr-1 {
    color: #000000;
}
.fg-clr-2 {
    color: #666666;
}
.fg-clr-3 {
    color: #dd356e;
}

.separator {
    margin: 0 .75em;
}

.separator::before {
    content: "|";
}

.global-header {
    border-bottom: 1px solid #d2d2d2;
    padding-top: 0;
}

.global-header-logo {
    font-size: 3.625em;
    font-weight: bold;
}

.global-header-logo a:hover {
    text-decoration: none;
}

.global-header-menu {
    width: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 4em;
    font-size: 1.125em;
    background-color: #ffffff;
    position: absolute;
    z-index: 97;
    bottom: 0;
    right: 0;
    top: 0;
}

.global-header-menu li a {
    position: relative;
    padding: 1em 2em;
    display: block;
    color: inherit;
}

.global-header-menu li a:hover {
    text-decoration: none;
    color: inherit;
}

.global-header-menu li a.target::after {
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    background-color: #dd356e;
    bottom: calc(1em - 4px);
    right: 2em;
    left: 2em;
}

.global-header-menu-input {
    cursor: pointer;
    font-size: 1.8em;
    position: relative;
    z-index: 99;
    opacity: 0;
}

.global-header-menu-shade {
    opacity: .7;
    display: none;
    background-color: #000000;
    position: absolute;
    z-index: 96;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.global-header-menu-strip {
    width: 2.25em;
    height: 2px;
    margin-left: -2.25em;
    background-color: #000000;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 98;
}

.global-header-menu-strip::before {
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    background-color: #000000;
    top: calc(1.125em / -1.44);
    right: 0;
    left: 0;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.global-header-menu-strip::after {
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    background-color: #000000;
    bottom: calc(1.125em / -1.44);
    right: 0;
    left: 0;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
}

.global-header-menu-input:checked ~ .global-header-menu {
    width: 250px;
    opacity: 1;
}

.global-header-menu-input:checked ~ .global-header-menu-shade {
    display: block;
}

.global-header-menu-input:checked ~ .global-header-menu-strip {
    background-color: transparent;
}

.global-header-menu-input:checked ~ .global-header-menu-strip::before {
    -webkit-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, -0.7071067811865475, 0.7071067811865475, 0.7071067811865475, -5.35, 0);
}

.global-header-menu-input:checked ~ .global-header-menu-strip::after {
    -webkit-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -moz-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    -ms-transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
    transform: matrix(0.7071067811865476, 0.7071067811865475, -0.7071067811865475, 0.7071067811865475, -5.35, 0);
}


.global-footer {
    padding: 1em 0;
    background-color: #36495d;
    color: #d2d2d2;
}

.global-footer a {
    color: inherit;
}

.global-footer-menu {
    padding: 1em 0 2.5em;
}

.global-footer-menu li {
    display: inline-block;
}

.global-marked {
    padding: 40px 0;
}

.global-missed {
    max-width: 8rem;
    padding-top: calc(50vh - 160px - 2rem);
}

.global-section {
    min-height: calc(100vh - 315px);
}

.transition .global-header {
    -webkit-transition: padding-top .3s ease-in-out;
    -moz-transition: padding-top .3s ease-in-out;
    -o-transition: padding-top .3s ease-in-out;
    transition: padding-top .3s ease-in-out;
}

.transition .global-header-menu,
.transition .global-header-menu-strip,
.transition .global-header-menu-strip::before,
.transition .global-header-menu-strip::after {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media (min-width: 800px) {

    html {
        font-size: 100px;
    }
    
    .home .global-header {
        padding-top: 120px;
    }
    
    .global-header-menu {
        width: auto!important;
        background-color: transparent!important;
        position: static;
        padding-top: 0;
        opacity: 1;
    }

    .global-header-menu li {
        display: inline-block;
        vertical-align: middle;
    }

    .global-header-menu li a {
        padding: 1.125em 1em;
    }

    .global-header-menu li a.target::after {
        bottom: calc(1.125em - 4px);
        right: calc(1em + 1px);
        left: calc(1em + 1px);
    }
}

.home .global-header {
    border-bottom-color: transparent;
}

.home-slogan {
    font-size: 1rem;
    padding: 12vh 8% 0;
}

.home-button {
    padding: 60px 0 0;
}

.home-depict {
    padding: 60px 0 80px;
}

.home-button-filled {
    width: 5.5rem;
    margin: .3em 0;
    padding: 1.05em 0;
    border-radius: 1.85em;
    display: inline-block;
    vertical-align: middle;
    background-color: #dd356e;
    border: 2px solid #dd356e;
    color: #ffffff;
}

.home-button-filled:hover {
    text-decoration: none;
    color: #ffffff;
}

.home-button-hollow {
    width: 5.5rem;
    margin: .3em 0;
    padding: 1.05em 0;
    border-radius: 1.85em;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #dd356e;
    color: #dd356e;
}

.home-button-hollow:hover {
    text-decoration: none;
    color: #dd356e;
}

@media (min-width: 500px) {

    .home-slogan {
        font-size: 0.5rem;
    }
}

@media (min-width: 800px) {

    .home-button-filled,
    .home-button-hollow {
        width: 170px;
        margin: .3em .6em;
    }
}


.global-loading {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1rem #dd356e;
    top: calc(50vh - .5rem);
}

.global-loading::before {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: -.01rem;
    top: -.01rem;
    border-radius: 1.02rem 0 0 1.02rem;

    -webkit-transform-origin: .52rem .51rem;
    -moz-transform-origin: .52rem .51rem;
    -ms-transform-origin: .52rem .51rem;
    transform-origin: .52rem .51rem;

    -webkit-animation: loading 2s infinite ease 1.5s;
    -moz-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.global-loading::after {
    content: "";
    display: block;
    width: 0.52rem;
    height: 1.02rem;
    background-color: #ffffff;
    position: absolute;
    left: .51rem;
    top: -.01rem;
    border-radius: 0 1.02rem 1.02rem 0;

    -webkit-transform-origin: 0 .51rem;
    -moz-transform-origin: 0 .51rem;
    -ms-transform-origin: 0 .51rem;
    transform-origin: 0 .51rem;

    -webkit-animation: loading 2s infinite ease;
    -moz-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

.about-QR {
    margin-top: 30px;
    margin-bottom: 60px;
}

.about-photo {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: 2px solid #51c4d1;
    background-image: url("../images/picture.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.about-photo::after {
    content: "";
    display: block;
    background-image: url("../images/v.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 0;
    right: 3px;
}

.about-brief h3 {
    font-weight: bold;
}

.about-brief a {
    white-space: nowrap;
}

@media (min-width: 500px) {

    .about-photo {
        float: left;
    }

    .about-brief {
        margin-left: 120px;
    }
}